@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neue Haas Display */
@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayXThin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayXThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayXXThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("/public/fonts/NeueHaasDisplayXXThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* PP Pangaia */
@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-Bold.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-BoldItalic.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-Light.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-LightItalic.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-Medium.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-MediumItalic.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-Ultrabold.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-Ultrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-UltraboldItalic.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-UltraboldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-Ultralight.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PP Pangaia";
  src:
    url("/public/fonts/PPPangaia-UltralightItalic.ttf") format("truetype"),
    url("/public/fonts/PPPangaia-UltralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Faceless";
  src: url("/public/fonts/Faceless-K7wel.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pillow Lava";
  src: url("/public/fonts/Pilowlava-Regular.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
